@font-face {
    font-family: "Circular Std";
    src:url(/assets/fonts/CircularStd) format(otf);
    src:url(/assets/fonts/CircularStd/CircularStd-Black.otf) format(otf),
        url(/assets/fonts/CircularStd/CircularStd-BlackItalic.otf) format(otf),
        url(/assets/fonts/CircularStd/CircularStd-Bold.otf) format(otf),
        url(/assets/fonts/CircularStd/CircularStd-BoldItalic.otf) format(otf),
        url(/assets/fonts/CircularStd/CircularStd-Book.otf) format(otf),
        url(/assets/fonts/CircularStd/CircularStd-BookItalic.otf) format(otf),
        url(/assets/fonts/CircularStd/CircularStd-Medium.otf) format(otf),
        url(/assets/fonts/CircularStd/CircularStd-MediumItalic.otf) format(otf);
}
