footer {
    display: flex;
    align-items: center;
    margin-top: auto;
    bottom: 0;
    left: 0;
    justify-content: center;
    background-color: #2a2a2a;
    height: 50px;
    width: 100vw;
}

h3 {
    font-family: "CircularStd-Book", Verdana, sans-serif;
    font-size: 16px;
    color: $terciary-color;
    font-weight: 100;
}