.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1.25rem;
    row-gap: 1.25rem;

   @media (min-width: $medium) {
    grid-template-columns: repeat(12,1fr);
    column-gap: 1.25rem;
    row-gap: 1.25rem;
      }
}