header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    background-color: $background-color;
    height: rem(50);
    width: 100vw;
}

.btn--toggle-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    @media (min-width: $medium) {
        display: none;
    }
    svg {
        stroke:#fff;
    }
}

#main-navigation {
    display: none;
    @media (min-width: $medium) {
        display: block;
    }
    &.menu-is-open {
        display: flex;
        position: absolute;
        background:blue;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
        flex-direction:column;
        justify-content: center;
        ul {
            display: flex;
            flex-direction:column;
            align-items: center;
            gap: 50px;
            height: fit-content;
        }
        @media (min-width: $medium) {
            display: block;
            position: static;
            background: transparent;
            width: auto;
            height: auto;
            ul {
                flex-direction: row;
                column-gap: 15px;
        }
    }
}

p.header {
    @include textSmall;
    margin-bottom: 0%;
}

a {
    @include textSmall;
    text-decoration: none;
    &.hover {
        text-decoration: underline;}
}

ul {
    align-items: flex-end;
    height: 3.125rem;
}

li {
    @include textSmall;
    display: inline;
    a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        &.active {
            text-decoration: underline;
        }
    }
}}