@import "grid";

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: $secondary-color;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0;
  min-height: 100vh;
  background-color: $background-color;

  &.no-scroll {
    overflow-y: hidden;
    ;
  }
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  margin: 0 auto;

  @media (min-width: $large) {
    max-width: 1130px;
  }

}

article {
  padding-bottom: 40px;
}

.title-home {
  display: flex;
  align-self: flex-end;
  width: fit-content;

  grid-column: 1/4;
}

.title {
  text-align: left;
  height: fit-content;
  border-bottom-style: solid;
  border-bottom-color: $text-color;

  grid-column: 1/5;

  @media (min-width: $medium) {
    grid-column: 1/13;
  }
}

.text-me {
  display: flex;
  align-items: flex-end;

  grid-column: 1/5;

  @media (min-width: $medium) {
    grid-column: 1/13;
  }
}

h1 {
  @include textHuge;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  @include textLarge;
  margin: 0;
  text-align: left;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 2/5;
}

.word {
  text-decoration: line-through;
}


/* ABOUT PAGE */

.textAbout {
  grid-column: 1/5;
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  @media (min-width: $medium) {
    grid-column: 1/13;
  }

  figure {
    @media (min-width: $medium) {
      grid-column: 7/13;
    }
  }

  p {
    @include textBody;
    line-height: 1.4;
    text-align: left;
    grid-column: 1/5;

    @media (min-width: $medium) {
      grid-column: 1/12;
    }
  }
}

.textBooks {
  grid-column: 1/5;
  display: grid;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $medium) {
    grid-column: 1/13;
  }
}

.BookCard_container {
  @media (min-width: $medium) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

h4 {
  @include textLabel;
  margin: 0;
  text-align: left;
}

.bookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
  gap: 30px;

  figure {
    display: block;
    height: 40vh;

    img {
      object-fit: contain;
      filter: drop-shadow(-8px 7px 12px rgba(0, 0, 0, 0.25));
      transform: rotate(-5.16deg);
    }
  }
}

.bookTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 15px;
  grid-column: 1/5;

  border: 1px solid $primary-color;
  border-radius: 93px;
}

/* WORK PAGE */

.ProjectCard {
  grid-column: 1/5;
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  padding-bottom: 30px;

  /*border-top-style: solid;
  border-top-color: $primary-color;*/

  @media (min-width: $medium) {
    grid-column: 1/13;
  }
}

.ProjectCard_container {
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  h3 {
    @include textLarge;
    line-height: 1.2;
    padding-top: 30px
  }

  p {
    @include textBody;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
    padding: 0;
    border-top-style: none;
  }
}

.ProjectCard_img {
  grid-column: 1/5;
  aspect-ratio: 16/10;
  border-radius: 16px;
  margin-top: 0%;
  padding: 0;
  background-color: $background-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));

  img {
    border-radius: 16px;
  }

}

a.projects {
  @include textLarge;
}

/* INDIVIDUAL PROJECT PAGE */

#projectImage {
  grid-column: 1/5;
  aspect-ratio: 12/10;

  @media (min-width: $medium) {
    grid-column: 1/13;
  }
}

.textProject {
  display: flex;
  flex-direction: column;
  grid-column: 1/5;

  @media (min-width: $medium) {
    grid-column: 1/13;
  }

  div {
    display: flex;
    flex-direction: column;
    gap:20px;
  }

  p {
    @include textBody;
  }
}


/* CONTACTS PAGE */

h1.contacts {
  @include textLarge2;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

div.form {
  grid-column: 1/5;
  display: flex;
  align-items: center;

  @media (min-width: $medium) {
    grid-column: 1/13;
  }
}

form {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  grid-column: 1/5;

  @media (min-width: $medium){
    grid-column: 1/13;
  }
}

input {
  position: relative;
  height: 3.125em;
  width: 16em;
  padding-left: 1.875em;

  @include textButton;
  border-radius: 32px;
  text-decoration: none;
  color: #707070;
  border-width: 0px;

  @media (min-width: $medium) {
    width: 24em;
  }
}

input[type=button],
input[type=submit],
input[type=reset] {
  background-color: $secondary-color;
  width: 150px;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;

  @include textButton;
  color: white;
  border-radius: 26px;
  text-decoration: none;
  border: none;
}

div.contacts {
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  li {
    marker: none;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  a {
    @include textLabel;
    color:$terciary-color;
    text-transform: uppercase;
  }

  @media (min-width: $medium) {
    grid-column: 1/13;

    ul {
      display: flex;
      gap: 30px;
    }
  }
}