* {
  margin: 0;
  padding: 0;
  }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100svh;
  background-color: $background-color;
  }

  .grid-container {
    display: grid;
    height: 90vh;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
    row-gap: 20px;
    align-items: flex-end;

   /*@media (min-width: $large) {
    grid-template-columns: repeat(12,1fr);
    column-gap: 20px;
    margin-left: 60px;
    margin-right: 60px;
    grid-template-rows: repeat(3,1fr);
    row-gap: 20px;
      }*/
}

.title-home {
  grid-column: 1/4;
  grid-row: 3;
  width: fit-content;
  height: fit-content;
}

.title {
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.text-me {
  grid-column: 1/5;
  grid-row: 2;
}

h1 {
  @include textHuge;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  @include textLarge;
  margin: 0;
  text-align: left;
}

p {
  @include textMedium;
  line-height: 1.4;
  text-align: center;
  }

p.body {
   @include textBody;
  line-height: 1.4;
  text-align: left;
  grid-column: 1/5;
  grid-row: 6;
  }

img {
  grid-column: 2/5;
  grid-row: 3;
}

.word {
  text-decoration: line-through;
}

      header,
      footer {
        font-family: Arial, sans-serif;
        font-size: 36px;
      }
      .flex-grid {
        width: 100%;
      }
      figure {
        margin: 0;
        height: 0;
        position: relative;
        background-color: #ccc;
        overflow: hidden;
        padding-bottom: ratio(4,3);
      }

    img {
        max-width: 100%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

      main {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px 20px;
        max-width: 540px;
        margin: 0 auto;
        @media (min-width: $medium) {
            max-width: 100%;
            padding: 30px;
        }
        @media (min-width: $large) {
        max-width: 1130px;
        }
      
        }

