@mixin textSmall {
  font-family: "CircularStd", Verdana, sans-serif;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

@mixin textLabel {
  font-family: "CircularStd-Book", Verdana, sans-serif;
  font-size: 14px;
  color: #fff;

  @media (min-width: $medium) {
    font-size: 18px;
  }
}

@mixin textButton {
  font-family: "CircularStd-Book", Verdana, sans-serif;
  font-size: 16px;
  color: #fff;
}

@mixin textBody {
  font-family: "CircularStd-Book", Verdana, sans-serif;
  font-size: 16px;
  color: #fff;

  @media (min-width: $medium) {
    font-size: 24px;
  }
}

@mixin textMedium {
  font-family: "CircularStd-Book", Verdana, sans-serif;
  font-size: 24px;
  color: #fff;
}

@mixin textLarge {
  font-family: "CircularStd-Medium", Geneva, Verdana, sans-serif;
  font-size: 28px;
  color: #fff;

  @media (min-width: $medium) {
    font-size: 36px;
  }

  @media (min-width: $large) {
    font-size: 42px;
  }
}

@mixin textLarge2 {
  font-family: "CircularStd-Medium", Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: #fff;
}

@mixin textHuge {
  font-family: "CircularStd-Bold", Geneva, Verdana, sans-serif;
  font-size: 75px;
  color: #fff;

  @media (min-width: $medium) {
    font-size: 110px;
  }
  @media (min-width: $large) {
    font-size: 130px;
  }
}
