@mixin textSmall {
    font-family: "CircularStd", Verdana, sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
  }

@mixin textMedium {
    font-family: "CircularStd", Verdana, sans-serif;
    font-size: 24px;
    color:#fff;
  }

@mixin textLarge {
    font-family: "CircularStd", Geneva, Verdana, sans-serif;
    font-size: 32px;
    color:#fff;
  }

@mixin textHuge {
    font-family: "CircularStd-Bold", Geneva, Verdana, sans-serif;
    font-size: 96px;
    color:#fff;
  }